@use "azure-devops-ui/Core/_platformCommon.scss" as *;

.swcResultExport {
	align-self: center;
	margin-left: 4px;

	> button {
		background: $neutral-2;
		border: 1px solid $neutral-20;
		border-radius: 2px;
		cursor: pointer;
		padding: 5px 10px;
	}

	> button:disabled { cursor: default; opacity: .6; }
}
