@use "azure-devops-ui/Core/_platformCommon.scss" as *;

.swcGlobalResultHeader {
	background: $neutral-2;
	border-bottom: 1px solid $neutral-20;
	border-top: 1px solid $neutral-20;
	margin: 0 32px 8px;

	.bolt-table-header-row {
		background: $neutral-4;
		height: 42px;
	}
	.bolt-table-header-cell {
		border-bottom: 0;
		box-shadow: inset -1px 0 $neutral-20;
		vertical-align: middle;
	}
	.bolt-table-header-cell-content {
		align-items: center;
		box-sizing: border-box;
		height: 42px;
		margin: 0;
		padding-bottom: 0;
		padding-top: 0;
	}
	.bolt-table-header-border { border-bottom: 0; }
	.swcTreeHorizontalScroll {
		overflow-x: scroll;
		scrollbar-gutter: stable;
	}
}

@media screen and (max-width: 600px) {
	.swcGlobalResultHeader { margin-left: 0; margin-right: 0; }
}
